.list {
	font-size: 14px;
	font-weight: 500;
	li {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		border-radius: 4px;
		cursor: pointer;
		&:first-child {
			margin-bottom: 20px;
		}
		&.active,
		&:hover {
			background: #ffffff;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
		}
	}
	&__img {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		width: 10px;
		height: 10px;
		img {
			display: block;
			width: 18px;
			height: 18px;
		}
	}
	&__text {
		white-space: nowrap;
	}
}
.badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	&--green {
		background-color: #42b883;
	}
	&--blue {
		background-color: #64c4ed;
	}
	&--pink {
		background-color: #ffbbcc;
	}
	&--mint {
		background-color: #B6E6BD;
	}
	&--gray {
		background-color: #C9D1D3;
	}
}
