.list {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	li {
		position: relative;
		display: flex;
		align-items: center;
		padding: 10px 12px;
		border-radius: 4px;
		cursor: pointer;
		overflow: hidden;
		&.active,
		&:hover {
			background: #ffffff;
			box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.03);
			.list__remove {
				transform: translate(0, -50%);
			}
		}
	}
	&__img {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
		min-width: 10px;
		height: 10px;
		svg {
			display: block;
			max-width: 18px;
			max-height: 18px;
		}
	}
	&__text {
		display: inline-block;
		width: 116px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-transform: lowercase;
		&::first-letter {
			text-transform: uppercase;
		}
	}
	&__add-btn {
		opacity: 0.6;
		&:hover {
			opacity: 1;
		}
	}
	&__remove {
		position: absolute;
		top: 50%;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 37px;
		height: 37px;
		transform: translate(300%, -50%);
		cursor: pointer;
		opacity: 0.4;
		transition: transform 0.3s ease-in-out;
		z-index: 3;
		img {
			pointer-events: none;
		}
		&:hover {
			opacity: 1;
			& ~ .list__text {
				opacity: 0.4;
			}
		}
	}
}
