.tasks {
	display: block;
	margin: 0 auto;
	max-width: 420px;
	width: 100%;
	&__title {
		position: relative;
		display: block;
		width: 100%;
		margin-bottom: 30px;
		padding-bottom: 20px;
		border-bottom: 1px solid #f2f2f2;
		overflow: hidden;
		&:hover {
			.tasks{
				&__edit {
					transform: translateX(0);
				}
			}
		}
	}
	&__edit {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 39px;
		height: 39px;
		opacity: 0.4;
		cursor: pointer;
		transform: translateX(200%);
		transition: transform 0.3s ease-in-out;
		z-index: 3;
		&:hover {
			opacity: 1;
			& ~ * {
				opacity: 0.4;
			}
		}
	}
	&__list {
		padding-bottom: 20px;
	}
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		width: 100%;
	}
	&__text {
		width: 100%;
		border: none;
	}
	&__form {
		margin-bottom: 60px;
	}
	&__form-new {
		display: flex;
		align-items: center;
		color: #c7c7c7;
		cursor: pointer;
		img {
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 16px;
			opacity: 0.2;
		}
		&:hover {
			color: #000;
			img {
				opacity: 0.9;
			}
		}
	}
	&__form-btn-box {
		& > * + * {
			margin-left: 15px;
		}
	}
}

.checkbox {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	&:hover {
		.checkbox {
			&__circle {
				border-color: #4DD599;
			}
		}
	}
	input.checkbox__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		&:checked ~ .checkbox__circle {
			background-color: #E8E8E8;
			&::after {
				content: '';
				display: block;
				width: 9px;
				height: 6px;
				border-left: 2px solid #B3B3B3;
				border-bottom: 2px solid #B3B3B3;
				transform: translateY(-2px) rotate(-45deg);
			}
			&:hover {
				background-color: #4DD599;
				&::after {
					border-color: #ffffff;
				}
			}
		}
	}
	&__circle {
		position: relative;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border: 2px solid #E8E8E8; 
		border-radius: 50%;
	}
}
