*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
}

body {
	margin: 0;
	// font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
	// 	"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	// 	"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.todo {
	display: flex;

	&__sidebar {
		display: block;
		padding: 60px 20px;
		width: 200px;
		height: 100vh;
		background: #f4f6f8;
	}
	
	&__tasks {
		flex: 1;
	}
}
